*{
	margin: 0;
	padding: 0;
}
html {
	background-image: url("../images/background.jpg");	
}
body  {
	font-family: Arial, Helvetica, sans-serif;
	width: 1000px;
	height: auto;
	background-color: white;
	margin: 0 auto; 
	padding: 0;
	border: 3px solid black;
	box-shadow: 0 9px 18px 9px;
}
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

/* Header */
header { 
    /* background-image: -webkit-linear-gradient(45deg, white 0%, orange 75%, black 100%); */
    padding: 15px;
	background-color: #1a1a1a;
} 
header img { 
	float: left; 
	padding-right: 15px;
	width: 80px;	
} 
header h2 {
	font-size: 300%;
	font-weight: bolder; 
	color: #C70101;
}
header h3 {
	font-size: 120%;
	padding-bottom: 15px;
	color: white;
	font-family: Lucida Sans Unicode;
	text-transform: uppercase;
}


/* Navigation menu */
#nav_menu {
	clear: left;
}
#nav_menu ul {
	list-style: none;
	position: relative;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li a {
	font-size: 120%;
	text-align: center;
	display: block;
	width: 250px;
	padding: .7em 0;
	text-decoration: none;
	background-color: #C70101;
	font-family: Lucida Sans Unicode;
	text-transform: uppercase;
	color: white;
	font-weight: bolder;
}

#nav_menu ul ul li ul {
	position: absolute;
	left: 100%;
	top: 2.6em; }
#nav_menu ul li a.current {
	color: #b7a57a;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: #1a1a1a;
}

/* Navigation Bar - Side*/
#nav_list ul{
	padding: 5px;
	padding-left: 10px;
	list-style-type: none;
}

#nav_list ul li img {
	display: block;
	max-width: 40%;
	color: black;
	margin: auto;
	overflow: visible;
	transition: transform .2s;
	margin-bottom: 3px;	
	margin-top: 10px;
}
#nav_list ul li img:hover{
transform: scale(1.5);
}
#nav_list ul li {
	text-align: center;
	font-family: Lucida Sans Unicode;
	text-transform: uppercase;
	font-weight: bold;
}
/*Aside Left*/
.asideLeft{
	width: 15%;
	float: left;
	border-right: 2px solid #C70101;
	padding-left: 10px;
	height: 870px;
}
.asideLeft ul li a{
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
	color: #C70101;
}
.asideLeft h3{
	font-size: 87%;
	text-align: center;
	color: #C70101;
	font-weight:bolder;
	padding: 10px;
	font-family: Lucida Sans Unicode;
	text-transform: uppercase;
	border-bottom: 1px solid #C70101;
	margin-right: 10px;
}
#leftDiv {
	width: 120px;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #C70101;
	height: 95%;
}
div {
	width: 205px;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	border: 1px solid #C70101;
	height: 93%;
}
/*Section*/
section {
	width: 55%;
	float: left;
	padding-left: 5px;
	margin-right: 5px;
}
section p{
	text-align: justify;
}
/*Section-Table*/
table{
	margin-left: 40px;
}
table td{
	padding: 10px;
}
table tr td img{
    overflow: visible;
    /* position: relative; */
	width: 140px;
	height: 150px;
	margin-top: 3px;
	transition: transform .2s;
	background-color: #ccc;
	box-shadow: #ccc;
	border: 1px solid #C70101;
}
table tr td img:hover{
	transform: scale(1.5);
}
figcaption{
	text-align: center;
	text-transform: uppercase;
	font-family: Lucida Sans Unicode;
	color: #C70101;
	font-size: 80%;
}
caption{
	text-align: center;
	text-transform: uppercase;
	font-family: Lucida Sans Unicode;
	color: #C70101;
	font-weight: bolder;
	font-size: 140%;
}

/*Aside Right*/
.asideRight{
	width: 25%;
	float: right;
	border-left: 2px solid #C70101;
	padding: 5px;
	height: 860px;
}
.asideRight h2{
	text-align: center;
	color: #C70101;
	font-weight:bolder;
	padding: 10px;
	font-family: Lucida Sans Unicode;
	text-transform: uppercase;
}
.asideRight img{
	display: block;
	margin: auto;
	max-width: 70%;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border: 1px solid #C70101;
	background-color: #ccc;
}
.asideRight h3{
	padding: 8px;
	font-family: Lucida Sans Unicode;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 100%;
}
.redEffect{
	color:#C70101;
}

/* Footer */
footer { 
	clear: both;
	border-top: 2px solid #C70101;
	padding: 15px;
	background-color: #1a1a1a;
	color: #C70101;
} 
footer p {
	font-size: 90%;
	text-align: center;
	text-transform: uppercase;
	font-weight: bolder;
}